
  
  @media (max-height: 800px) {p{ 
    font-size:10px;
   }}
  
   @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 480px)
   and (-webkit-min-device-pixel-ratio: 2) {
 
 }

 @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen 
  and (min-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
  body {
    background-color:rgb(177, 172, 172)  
 
  }

  .heading {
    font-size: 50px;
    margin:0;
    background:black;
    color:silver;
    margin:0;
  border: 3px solid rgb(5, 5, 5);
  padding: 4rem;  
  text-align:center;
 }
.wraping {
   width:min(90%, 300px);
   display:flex;
   list-style: inside;
   flex:50%;
   margin-top: 40px;
   margin-inline:auto;
   text-align:center;
   padding:5%;
   
}
.header {
   font-size:50px;
}

.para {
  font-size:20px;
}
.foundation {
  margin-left: 50px;
  width:min(90%, 300px);
}
 
.container {
  margin:min(90%,10px);
  display:flex;
  flex:50%;
  padding:50px 120px 50px 120px;
  width:auto;
  border: 3px solid black;
  text-align:center;
  list-style:circle;
}

.responsive-pics {
  max-width:50%;
  height:auto;
  padding:20px 20px 40px 20px;
}

